<%- include("header"); -%> 

<div class="box" id="heading">
<h1>This is the about page.</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum sunt rerum nam consequatur repudiandae nisi,
    laboriosam ullam vel error quasi suscipit ipsam, architecto obcaecati maiores temporibus eum illum laudantium quis!
</p>
</div>
<%- include("footer"); -%> 